#chartdiv {
    width: 100%;
    height: 600px;
    margin-top: 1em;
}
h1 {
    font-weight: 100;
    font-style: italic;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 0.5em;
    margin-bottom: 0.25em;
}
select {
    max-width: 7em;
}
a {
    text-decoration: none;
}
ul.ikonit  {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.ikonit li {
    display: table-cell;
}
.popupContainer ul, .selectize-control ul {
    margin: 0;
    list-style-type: none;
}
.selectize-control ul li {
    display: table-cell;
}

.ol-zoom {
    top: 3em;
}
.ol-zoomslider {
    top: 6.5em;
}

.ol-scale-line,
.ol-attribution.ol-uncollapsible {
    bottom: 3.1em;
    font-size: 0.6em;
}

.palkki {
    z-index: 2;
    margin-left: 2em;
    width: 80%;
    position: absolute;
}
.palkki > * {
    float: left;
}
.palkki .menu {
    width: 6em;
}

.palkki a {
    min-width: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.popupContainer {
    position: absolute;
    top: 0;
    right: 1em;
    width: 400px;
    height: 700px;
    border: 1px solid Gray;
    background: white;
    resize: both;
    overflow: auto;
    z-index: 3;
}
.info {
    position: absolute;
    bottom: 0;
    top: 1.1em;
    left: 0;
    right: 0;
    overflow: scroll;
}
.info iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.popupContainer .header {
    width: 100%;
    height: 1em;
    border-bottom: 1px solid Gray;
    background-color: LightGray;
    position: relative;
    cursor: move;
}
.popupContainer .header .title {
    position: absolute;
    cursor: text;
}
.popupContainer .header .open {
    position: absolute;
    right: 1em;
}
.popupContainer .header .open img {
    width: 1em;
    height: 1em;
    cursor: alias;
}
.popupContainer .header .close {
    height: 100%;
    width: 1em;
    position: absolute;
    right: 0;
    background: indianred;
    font-family: verdana;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
}

.over {
    background-color: red !important;
}
.kartta, .junaPopup, .tilastoPopup {
    width: 100%;
    top: 1em;
    bottom: 0;
    position: absolute;
}
.junaPopup {
    top: 3em;
}
.aikatauluPopup {
    width: 700px;
    height: 500px;
}
.tilastoContainer {
    width: 1200px;
    height: 400px;
}
.popupContainer.aikatauluPopup .selectize-control {
    margin-left: 0;
}
.schema {
    position: absolute;
    right: 7em;
    margin-top: 0;
    font-size: 0.8em;
    font-variant: small-caps;
}
.schema input {
    margin: 0px 1px;
    vertical-align: text-bottom;
}

body.fi .en, body.en .fi {
    display: none !important;
}

.layer-switcher {
    font-size: 0.5em;
    font-family: Verdana;
}
.layer-switcher ul {
    padding-left: 1em;
}
.layer-switcher input {
    margin: 1px;
    width: 10px;
    height: 10px;
}
.layer-switcher .group > input {
    display: none;
}

.popup {
    background-color: white;
    opacity: 0.75;
    border: 1px dotted gray;
    border-radius: 7px;
    font-size: 0.6em;
    overflow-y: scroll;
    max-height: 200px;
}
.popup th {
    text-align: right;
    vertical-align: top;
}
.popup th, .popup td {
    padding: 0;
}

.amcharts-amexport-item {
    border: 1px solid Gray;
}

.amcharts-amexport-top {
    right: 16.3em !important;
}

.infoikoni,
.infoikoni img {
    font-size: 14px;
    line-height: 13px;
    width: 13px;
    height: 13px;
}

.selectize-input {
    position: absolute;
    max-width: 10em;
}
.selectize-input.dropdown-active,
.popupContainer .selectize-input.dropdown-active  {
    max-width: 100%;
}
.popupContainer .selectize-input {
    margin-top: 0em;
    max-width: 5em;
}
.popupContainer .selectize-input.has-items {
    max-width: 70%;
}
.aikatauluPopup.popupContainer .selectize-input.has-items {
    max-width: 100%;
}
.selectize-control {
    margin-left: 2em;
    width: 50%;
}
.popupContainer .selectize-control {
    margin-left: 0.7em;
    width: 90%;
}
.selectize-control .optgroup div[data-selectable].active {
    background-color: thistle;
    border-color: Black;
}
.selectize-control .optgroup div[data-selectable] {
    position: relative;
    border-left: 5px solid transparent;
}
.selectize-control .optgroup div[data-selectable] > ul {
    position: absolute;
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
    padding: 0;
    margin: 0;
}
.selectize-control .optgroup-header {
    background-color: inherit;
    font-size: 2em;
    font-variant: small-caps;
    font-style: italic;
}
.selectize-control .optgroup[data-group=Infra] {
    background-color: AliceBlue;
}
.selectize-control .optgroup[data-group=Jeti] {
    background-color: LightYellow;
}
.selectize-control .optgroup[data-group=Ruma] {
    background-color: MistyRose;
}
.selectize-control .optgroup[data-group=Aikataulut] {
    background-color: darkseagreen;
}
.selectize-control .optgroup[data-group=Junat] {
    background-color: Thistle;
}

.selectize-control .score {
    font-size: 0.75em;
    color: LightGray;
    font-style: italic;
}

.hakuohje, .statistics {
    position: absolute;
    padding: 0.1em;
    margin-top: 2em;
    z-index: 99;
    width: 2em;
}
.hakuohje {
    left: 7em;
}
.statistics {
    font-size: 1.8em;
    margin-top: 1.5em;
}
.trigger {
    top: -1.5em;
    position: absolute;
}
.hakuohje h5 {
    visibility: hidden;
}
.hakuohje dl {
    font-size: 0.75em;
    padding: 1em;
    visibility: hidden;
}
.statistics a {
    visibility: hidden;
    display: block;
    font-size: 0.4em;
    text-align: left;
}
.statistics img {
    height: 1.2em;
}
.statistics .infra {
    display: block;
    padding-top: 0.4em;
    padding-left: 0.4em;
}
.hakuohje:hover, .statistics:hover {
    width: auto;
    height: auto;
    background: White;
    border: 1px solid Gray;
    border-radius: 5px;
}
.hakuohje:hover *, .statistics:hover * {
    visibility: visible;
}

.searchElem {
    border-left: 1px dotted gray;
    padding-left: 3px;
    white-space: nowrap;
}
.searchElem:first-child {
    border-left: 0;
    padding-left: 0;
}
.selectize-control .optgroup .title {
    padding-left: 1.5em;
    padding-right: 3em;
    text-indent: -1.5em;
}

.aikavalinta {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0.5em;
    right: 0.5em;
}
.aikavalinta > span {
    flex: 1;
}
.aikavalinta .alkuaika,
.aikavalinta .loppuaika {
    width: 8em;
    z-index: 9;
}
.aikavalinta .slider {
    width: 99%;
    min-width: 2em;
}
.aikavalinta input:disabled {
    pointer-events: none;
}

.layer-switcher[data-loading^='1'] button,
.layer-switcher[data-loading^='2'] button,
.layer-switcher[data-loading^='3'] button {
    animation: round-and-round 1s linear infinite;
}
.layer-switcher[data-loading^='1'] button:after,
.layer-switcher[data-loading^='2'] button:after,
.layer-switcher[data-loading^='3'] button:after {
    content: 'loading';
    font-size: 1.3em;
    color: Black;
    font-weight: lighter;
}
@keyframes round-and-round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}