body {
    margin: 0;
    padding: 0.5em;
}
#chartdiv {
    width: 100%;
    height: 600px;
    margin-top: 1em;
}
progress {
    width: 73em;
}
progress:indeterminate {
    visibility: hidden;
}
h1 {
    font-weight: 100;
    font-style: italic;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0.25em;
}
select {
    max-width: 7em;
}
a {
    text-decoration: none;
}
ul.ikonit  {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.ikonit li {
    display: table-cell;
}
.popupContainer ul, .selectize-control ul {
    margin: 0;
    list-style-type: none;
}
.selectize-control ul li {
    display: table-cell;
}

.rotate-left {
    top: 0.5em;
    left: 0.5em;
    padding-bottom: 3px;
}
.rotate-right {
    top: 0.5em;
    left: 2.2em;
    padding-bottom: 3px;
}
.ol-rotate {
    right: auto;
    left: 3.9em;
    top: 0.5em;
}
.ol-zoom {
    top: 2.5em;
}
.ol-zoomslider {
    top: 6em;
}

.ol-attribution {
    bottom: 2em;
    right: auto;
    left: 0.5em;
}
.ol-scale-line {
    font-size: 0.6em;
}

.ol-overlaycontainer-stopevent {
    z-index: unset !important;
}

.palkki {
    z-index: 2;
    margin-left: 2em;
    width: 80%;
    position: absolute;
}
.palkki > * {
    float: left;
}
.palkki .menu {
    width: 6em;
}

.palkki a {
    min-width: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.popupContainer {
    position: absolute;
    top: 0;
    right: 1em;
    width: 400px;
    height: 700px;
    border: 1px solid Gray;
    background: white;
    resize: both;
    overflow: auto;
    z-index: 3;
    border-radius: 0.25em;
}
.info {
    position: absolute;
    bottom: 0;
    top: 1.1em;
    left: 0;
    right: 0;
    overflow: scroll;
}
.info iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.popupContainer .header {
    width: 100%;
    height: 1em;
    border-bottom: 1px solid Gray;
    background-color: LightGray;
    position: relative;
    cursor: move;
}
.popupContainer .header .title {
    position: absolute;
    cursor: text;
    user-select: none;
    font-size: 0.9em;
    vertical-align: top;
}
.popupContainer .header .open {
    position: absolute;
    right: 1em;
}
.objectfocus, .detach, .raidekorkeudet {
    position: absolute;
    right: 1.5em;
    width: 1em;
    height: 1em;
    font-size: 0.65em;
    cursor: alias;
}
.detach {
    right: 2.5em;
}
.raidekorkeudet {
    right: 4em;
}
.detached {
    background: rgba(255,255,255,0.5);
}
.move {
    cursor: grabbing !important;
}
.snapped.left:not(:hover):not(.dragging),
.snapped.right:not(:hover):not(.dragging) {
    width: 2em !important;
    height: 5em !important;
    transition: width 0.25s, height 0.25s;
}
.snapped.left:not(:hover):not(.dragging) > .header > .title {
    transform: rotate(-90deg);
}
.snapped.right:not(:hover):not(.dragging) {
    writing-mode: vertical-lr;
}
.snapped.top:not(:hover):not(.dragging),
.snapped.bottom:not(:hover):not(.dragging) {
    width: 9em !important;
    height: 2em !important;
    transition: width 0.25s, height 0.25s;
}
.snapped:not(:hover):not(.dragging) > .draghandle {
    height: 100% !important;
    line-height: 2em;
}
.snapped {
    transition: width 0.25s, height 0.25s;
}
.snapped.left {
    left: 0 !important;
    right: auto !important;
}
.snapped.right {
    right: 0 !important;
    left: auto !important;
}
.snapped.top {
    top: 1em !important;
    bottom: auto !important;
}
.snapped.bottom {
    bottom: 0 !important;
    top: auto !important;
}
.snapped:not(:hover) *:not(.title) {
    display: none;
}
.snapped:not(:hover).left .draghandle,
.snapped:not(:hover).right .draghandle {
    height: 100%;
    display: block;
}
.snapped:not(:hover).top .draghandle,
.snapped:not(:hover).bottom .draghandle {
    width: 100%;
    display: block;
}
.popupContainer .header .open img {
    width: 1em;
    height: 1em;
    cursor: alias;
}
.popupContainer .header .close {
    height: 100%;
    width: 1em;
    position: absolute;
    right: 0;
    background: indianred;
    font-family: verdana;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
}
.infoPopup {
    z-index: 5;
}
.karttaPopup {
    width: 33%;
    height: 33%;
}
.karttaInfoPopup {
    width: 15em;
    height: 20em;
    left: unset;
    right: unset;
}

.over {
    background-color: red !important;
}
.kartta, .junaPopup, .tilastoPopup {
    width: 100%;
    top: 1em;
    bottom: 0;
    position: absolute;
}
.junaPopup {
    top: 3em;
}
.aikatauluPopup {
    width: 700px;
    height: 500px;
}
.raidePopup .raide {
    height: 100%;
}
.tilastoContainer {
    width: 1200px;
    height: 400px;
}
.manualOverflow {
    overflow: visible;
}
.popupContainer.aikatauluPopup .selectize-control {
    margin-left: 0;
}
.schema {
    position: absolute;
    right: 7em;
    margin-top: 0;
    font-size: 0.8em;
    font-variant: small-caps;
}
.schema input {
    margin: 0px 1px;
    vertical-align: text-bottom;
}

body.fi .en, body.en .fi {
    display: none !important;
}

.layer-switcher {
    font-size: 0.5em;
    font-family: Verdana;
    z-index: 10;
}
.layer-switcher ul {
    padding-left: 1em;
}
.layer-switcher input {
    margin: 1px;
    width: 10px;
    height: 10px;
}
.layer-switcher .group > input {
    display: none;
}

.popup {
    display: block;
    background-color: white;
    opacity: 0.75;
    border: 1px dotted gray;
    border-radius: 7px;
    font-size: 0.6em;
    overflow-y: scroll;
    max-height: 200px;
}
.popup th {
    text-align: right;
    vertical-align: top;
}
.popup th, .popup td {
    padding: 0;
}

.amcharts-amexport-item {
    border: 1px solid Gray;
}

.amcharts-amexport-top {
    right: 16.3em !important;
}

.infoikoni,
.infoikoni img {
    font-size: 14px;
    line-height: 13px;
    width: 13px;
    height: 13px;
}

.selectize-input {
    position: absolute;
    max-width: 10em;
}
.selectize-input.dropdown-active,
.popupContainer .selectize-input.dropdown-active  {
    max-width: 100%;
}
.popupContainer .selectize-input {
    margin-top: 0em;
    max-width: 5em;
}
.popupContainer .selectize-input.has-items {
    max-width: 70%;
}
.aikatauluPopup.popupContainer .selectize-input.has-items {
    max-width: 100%;
}
.selectize-control {
    margin-left: 3em;
    width: 50%;
}
.popupContainer .selectize-control {
    margin-left: 6em;
    top: 0.25em;
    width: 90%;
}
.selectize-dropdown .optgroup div[data-selectable].active {
    background-color: thistle;
    border-color: Black;
}
.selectize-dropdown .optgroup div[data-selectable] {
    position: relative;
    border-left: 5px solid transparent;
}
.selectize-dropdown .optgroup div[data-selectable] > ul {
    position: absolute;
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
    padding: 0;
    margin: 0;
}
.selectize-dropdown .optgroup-header {
    background-color: inherit;
    font-size: 2em;
    font-variant: small-caps;
    font-style: italic;
}
.selectize-dropdown .optgroup[data-group=Infra] {
    background-color: AliceBlue;
}
.selectize-dropdown .optgroup[data-group=Jeti] {
    background-color: LightYellow;
}
.selectize-dropdown .optgroup[data-group=Ruma] {
    background-color: MistyRose;
}
.selectize-dropdown .optgroup[data-group=Aikataulut] {
    background-color: darkseagreen;
}
.selectize-dropdown .optgroup[data-group=Junat] {
    background-color: Thistle;
}

.selectize-dropdown .score {
    font-size: 0.75em;
    color: LightGray;
    font-style: italic;
}

.hakuohje, .statistics, .changes {
    position: absolute;
    padding: 0.1em;
    margin-top: 2em;
    width: 2em;
}
.hakuohje {
    left: 8em;
}
.statistics, .changes {
    font-size: 1.8em;
    margin-top: 1.5em;
}
.trigger {
    top: -1.5em;
    position: absolute;
}
.hakuohje dl {
    font-size: 0.75em;
    padding: 1em;
}
.statistics .content {
    font-size: 0.4em;
}
.statistics .infra .row a:first-child {
    padding-left: 0;
}
.statistics .infra .row a {
    display: inline;
    background-image: none;
    padding-left: 0.5em;
    vertical-align: baseline;
    font-variant: small-caps;
}
.statistics .infra .row a.regular {
    font-variant: normal;
}
.statistics a {
    display: block;
    text-align: left;
    padding-left: 1.2em;
    margin-bottom: 0.1em;
    margin-left: 0.3em;
    background-repeat: no-repeat;
    background-size: contain;
}
.statistics img {
    height: 1.2em;
}
.statistics .infra {
    display: block;
    padding-top: 0.4em;
}
.statistics .infra a, .statistics .row {
    margin-left: 0;
    padding-left: 1.5em;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://rata.digitraffic.fi/infra-api/r/favicon.ico');
}
.hakuohje:hover, .statistics:hover, .changes:hover {
    width: auto;
    height: auto;
    background: White;
    border: 1px solid Gray;
    border-radius: 5px;
}
.hakuohje .content, .statistics .content, .changes .content {
    display: none;
}
.hakuohje:hover .content, .statistics:hover .content, .changes:hover .content {
    display: inline;
}
.changes {
    left: 3.5em;
}
.changes div {
    margin: 0.5em;
}
.changes a {
    display: block;
    text-align: left;
}
.changes .content {
    font-size: 0.5em;
}
.changes select {
    margin: 0.5em;
}

.searchElem {
    border-left: 1px dotted gray;
    padding-left: 3px;
    white-space: nowrap;
}
.searchElem:first-child {
    border-left: 0;
    padding-left: 0;
}
.selectize-dropdown .optgroup .title {
    padding-left: 1.5em;
    padding-right: 3em;
    text-indent: -1.5em;
}

.aikavalinta {
    position: absolute;
    display: flex;
    bottom: 0.25em;
    left: 10em;
    right: 1em;
    overflow: hidden;
    resize: horizontal;
}
.aikavalinta > span {
    flex: 1;
}
.aikavalinta .alkuaika,
.aikavalinta .loppuaika {
    width: 13em;
    z-index: 9;
    font-size: 0.8em;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    margin: 0;
}
.aikavalinta .slider {
    width: 99%;
    min-width: 2em;
}
.aikavalinta input:disabled {
    pointer-events: none;
}

.layer-switcher[data-loading^='1'] button,
.layer-switcher[data-loading^='2'] button,
.layer-switcher[data-loading^='3'] button {
    animation: round-and-round 1s linear infinite;
}
.layer-switcher[data-loading^='1'] button:after,
.layer-switcher[data-loading^='2'] button:after,
.layer-switcher[data-loading^='3'] button:after {
    content: 'loading';
    font-size: 1.3em;
    color: Black;
    font-weight: lighter;
}
@keyframes round-and-round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.muutoksetContainer {
    right: 20%;
}
.muutoksetContainer ul {
    padding-left: 1em;
    vertical-align: top;
}
.muutoksetContainer ul i {
    padding-left: 1em;
    color: gray;
}
.muutoksetContainer ul ul {
    display: inline-block;
    padding-left: 0;
    padding-right: 0.5em;
}
.muutoksetContainer h5 {
    margin: 0.5em;
}

.listview {
    width: 20%;
    min-width: 10em;
    height: 50%;
    right: 0;
    bottom: 3em;
    position: absolute;
    border: 1px solid gray;
    overflow: scroll;
    resize: both;
}
.listview .header {
    position: sticky;
    top: 0;
}
.listview .header input {
    padding: 0;
    border-width: 0 0 0 1px;
    float: right;
    max-width: 5em;
    margin-right: 2em;
}
.listviewcontents {
    height: 100%;
}
.listview ul {
    line-height: 1em;
    font-size: 0.75em;
    padding-left: 0;
}
.listview ul li {
    white-space: nowrap;
    padding-left: 1em;
}
.listview ul li .objectfocus {
    display: none;
}
.listview ul li:hover .objectfocus {
    display: inline;
    left: 1px;
    font-size: 0.75em;
    font-weight: normal;
}
.listview ul li:hover {
    font-weight: bold;
}
summary {
    margin: 0 0 0.2em 0;
    background: linear-gradient(180deg, lightgray, transparent);
    font-family: sans-serif;
    font-variant: all-small-caps;
    font-weight: lighter;
    color: #aaa;
}
details[open] summary {
    color: unset;
}
.collapseExpand {
    position: absolute;
    right: 0;
    cursor: default;
}
.collapseExpand * {
    padding: 0 0.25em;
    vertical-align: sub;
}
.collapseExpand *:hover {
    font-weight: bold;
}